&_back {
    margin-top: 5px;
    background: #D32F2F;
    color: #fdf5fd;
}
&_back:hover {
    background-color: #B71C1C !important;
}

&_back_table {
    margin-top: 45px;
    background: #D32F2F;
    color: #fdf5fd;
}
&_back_table:hover {
    background-color: #B71C1C !important;
}