.room__tutorial{
  position: absolute;
  left: 0;
  height: 100%;
  background-color:beige;
  width: 25vw;
}
.room__tutorial__keyboard {
  height: 15vw;
  margin-left: 35px;

}
.room__tutorial__keys {
  height: 6vw;
  margin-left: 20px;

}
.room__tutorial__keyboard_text{
  margin-left: 20px;
  font-size: 30px;
}
.room__tutorial__bomberman_logo{
  height: 17vw;
}
.room__tutorial__bomb{
  height: 3vw;
  margin-left: 10px;
}