.gameover{
  display: none;
  background-color: rgba(25, 255, 223, 0.46);
  position: fixed;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 400px;
  transform: translate(-50%, -50%);
}
.gameover_image {
  height: 45%;
  margin-left: 25%;
  margin-top: -20px;
}
.gameover_text {
  font-size: 30px;
  text-align: center;
  overflow: hidden;
}